//YUI css reset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}

//Global
body {
    color: #000;
    background: #fff;
    font-family: Verdana Tahoma "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #333;
}
button:focus,input:focus,select:focus,a:active {
    outline-width: 0;
}
button,select,input {
    font-family: Verdana Tahoma "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    border: 0;
    padding: 0;
}
[data-toggle] {
    cursor: pointer;
}

//公用类
.clearfix {

    &:before {
        display: table;
        content: '';
        clear: both;
    }
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}


.container {
    width: 1200px;
    margin: 0 auto;

    &.s {
        width: 720px;
    }
    &.xs {
        width: 320px;
    }

}

.row {

    .clearfix;

    display: block;
    width: 100%;

    &>.span {
        float: left;
        display: block;

        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
    }
    &>.span1 {
        display: block;
        float: left;
        width: percentage(1/12);
    }
    &>.span2 {
        display: block;
        float: left;
        width: percentage(2/12);
    }
    &>.span3 {
        display: block;
        float: left;
        width: percentage(3/12);
    }
    &>.span4 {
        display: block;
        float: left;
        width: percentage(4/12);
    }
    &>.span5 {
        display: block;
        float: left;
        width: percentage(5/12);
    }
    &>.span6 {
        display: block;
        float: left;
        width: percentage(6/12);
    }
    &>.span7 {
        display: block;
        float: left;
        width: percentage(7/12);
    }
    &>.span8 {
        display: block;
        float: left;
        width: percentage(8/12);
    }
    &>.span9 {
        display: block;
        float: left;
        width: percentage(9/12);
    }
    &>.span10 {
        display: block;
        float: left;
        width: percentage(10/12);
    }
    &>.span11 {
        display: block;
        float: left;
        width: percentage(11/12);
    }
    &>.span12 {
        display: block;
        float: left;
        width: percentage(1);
    }
    &>.offset1 {
        margin-left: percentage(1/12);
    }
    &>.offset2 {
        margin-left: percentage(2/12);
    }
    &>.offset3 {
        margin-left: percentage(3/12);
    }
    &>.offset4 {
        margin-left: percentage(4/12);
    }
    &>.offset5 {
        margin-left: percentage(5/12);
    }
    &>.offset6 {
        margin-left: percentage(6/12);
    }
    &>.offset7 {
        margin-left: percentage(7/12);
    }
    &>.offset8 {
        margin-left: percentage(8/12);
    }
    &>.offset9 {
        margin-left: percentage(9/12);
    }
    &>.offset10 {
        margin-left: percentage(10/12);
    }
    &>.offset11 {
        margin-left: percentage(11/12);
    }
}
.width-80 {
    width: 80px;
}
.width-100 {
    width: 100px;
}
.width-120 {
    width: 120px;
}
.width-160 {
    width: 160px;
}
.width-180 {
    width: 180px;
}
.width-200 {
    width: 200px;
}
.width-250 {
    width: 250px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

@black:#1e1e1e;
@gray: #323232;
@blue: #005178;
@borderColor: #ccc;
@color1: #343434;

@upColor: #ff3232;
@downColor: #00cb32;

.transition (@transition) {
    transition: @transition;
    -moz-transition: @transition;	/* Firefox 4 */
    -webkit-transition: @transition;	/* Safari 和 Chrome */
    -o-transition: @transition;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button{
    border: none;
    outline: none;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    &.type1 {
        color: #fff;
        width: 60px;
        line-height: 25px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

    &.pink {
        background-color: #d27569;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#db8f86), to(#bf6260));
        background: -moz-linear-gradient(top, #db8f86, #bf6260);
    }
    &.green {
        background-color: #60d38a;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#6cdc95), to(#4dbb75));
        background: -moz-linear-gradient(top, #6cdc95, #4dbb75);
    }
    &.gray {
        background-color: #666;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#5a5a5a));
        background: -moz-linear-gradient(top, #808080, #5a5a5a);
    }

}

label.checkbox {

    cursor: pointer;
    display: inline-block;
    position: relative;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    padding: 5px;

    &>input[type=checkbox] {
        width: auto;
        height: 20px;
        //margin: 0 0.5em;
        vertical-align: middle;
    }

    /*
    &>input[type=checkbox] + .icon-my-check:before {
        content: "\f096";
    }
    &>input[type=checkbox]:checked + .icon-my-check:before {
        content: "\f046";
    }
    */

    &.postfix {

    }
}

.toolbar,
.titlebar{
    .clearfix;
}

.tabpanel {
    @borderColor: #b4b4b4;
    width: 100%;
    &>.tabbar {
        .clearfix;
        &>.tab {
            display: block;
            float: left;
            cursor: pointer;
        }
    }
    &>.content{
        &>.panel {
            display: none;
            width: 100%;
            height: 100%;
            &.active {
                display: block;
            }
        }
    }
}
.tabpanel.type1 {
    @borderColor: #b4b4b4;
    &>.tabbar {
        border-bottom: 1px solid @borderColor;
        line-height: 34px;
        color: @borderColor;
        &>.label {
            float: left;
            color: #000;
            margin-right: 30px;
        }
        &>.tab {
            margin-right: 50px;
            &.active {
                color: @blue;
            }
        }
    }
    &>.content {
        border: none;
    }
}
.tabpanel.type2 {
    &>.tabbar {
        &>.more {
            float: right;
            color: @borderColor;
        }
        &>.tab {
            line-height: 20px;
            background-color: #575757;
            width: 99px;
            border-right: 1px solid #fff;
            text-align: center;
            color: #fff;
            &.active {
                background-color: #231815;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-right: 3px solid transparent;
                    border-left: 3px solid transparent;
                    border-top: 5px solid #231815;
                    bottom: -5px;
                    width: 0;
                    height: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }
    &>.content {
        border: none;
    }
}
.tabpanel.type3 {
    &>.tabbar {
        padding-top: 20px;
        background-color: #575757;
        width: 100%;
        overflow: hidden;
        &>.tab {
            display: block;
            line-height: 40px;
            width: 100px;
            text-align: center;
            color: #fff;
            position: relative;

            &:after {
                display: block;
                position: absolute;
                right: -1px;
                top: 10px;
                content: '';
                height: 20px;
                width: 0;
                border-left: 1px solid #222;
                border-right: 1px solid #727272;
            }
            //&:hover,
            &.active {
                width: 102px;
                margin-left: -1px;
                margin-right: -1px;
                background-color: @black;

                &:after {
                    display: none;
                }
            }

            &:last-child:after {
                display: none;
            }
        }
    }
    &>.content {
        border: none;
        background-color: @black;
        padding: 15px;
    }
}

.market-analysis {

    &>.titlebar {

        padding-left: 1px;
        position: relative;
        z-index: 2;

        &>.link {

            display: block;
            float: left;
            font-size: 12px;
            line-height: 12px;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border-right: 1px solid @borderColor;

            &.active {
                margin-left: -1px;
                color: @blue;
                cursor: pointer;
                border: 1px solid @borderColor;
                border-bottom: none;
                background-color: #fff;
                line-height: 30px;
                margin-top: 0;
                margin-bottom: -1px;
            }
        }
    }
    &>.content {
        border: 1px solid @borderColor;
        z-index: 1;
        position: relative;
    }

    .datum  {

        [data-trend=up] {
            .price {
                color: @upColor;
            }
        }
        [data-trend=down] {
            .price {
                color: @downColor;
            }
        }
    }
}

.market.chart {

    &>.titlebar {

        background-color: @black;
        width: 100%;
        overflow: hidden;
        position: relative;

        &>.link {

            display: block;
            float: left;
            line-height: 20px;
            margin: 5px 0;
            padding: 0 15px;
            border-left: 1px solid @gray;
            text-align: center;
            color: #fff;
            z-index: 1;

            &:first-child {
                border-left-color: transparent;
            }

            &:hover,
            &.active {
                z-index: 9;
                margin: 0;
                padding: 5px 16px;
                margin-right: -1px;
                border-left: none;
                //border-right-color: #1e1e1e;
                background-color: @gray;
            }
        }

        &>.button[data-toggle=stare-modal] {
            display: block;
            float: right;
            width: 100px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background-color: @blue;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#3c80a1), to(#005077));
            background: -moz-linear-gradient(top, #3c80a1, #005077);
            color: #fff;
        }

    }
    &>.content {

        border: none;
        padding: 15px;
        background-color: @gray;

        .toolbar {
            width: 100%;
            background-color: #9f9f9f;
            .button {
                line-height: 22px;
                color: #231815;
                width: 22px;
                height: 22px;
                margin: 6px 0;
                margin-left: 20px;
                border-radius: 5px;
                &:hover,
                &.active {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

    }
}

body {
    background-color: #e6e6e6;
    font-size: 12px;
}

#header {

    background-color: @black;
    height: 140px;
    position: relative;

    .title {
        height: 100px;
        color: @black;
        position: relative;

        .logo,
        .ad {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        .logo {
            left: 20px;
        }
        .ad {
            right: 0;
        }

    }

    .toolbar {
        height: 39px;
        width: 100%;
        border-top: 1px solid @color1;
    }
    .navbar {

        height: 39px;

        .nav {
            float: left;
            height: 100%;
            border-right: 1px solid @color1;

            &>.link {
                display: block;
                width: 100px;
                height: 100%;
                line-height: 39px;
                color: #fff;
                text-align: center;

                &:hover {
                    position: relative;
                    background-color: @color1;
                }

                &.active {

                    position: relative;
                    background-color: @color1;

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        border-right: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-top: 8px solid @color1;
                        bottom: -8px;
                        width: 0;
                        height: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }

        }
    }
    form.search {
        height: 100%;
        input[type=text] {
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            padding: 5px 10px;
            margin-top: 6px;
            margin-right: 6px;
            width: 180px;
            background-color: #fff;
        }
        button[type=submit] {
            line-height: 38px;
            width: 40px;
            background-color: #333;
        }
    }

}

#content {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-bottom: 50px;
}


.livenews.scrollable.list{

    //overflow-y: hidden;

    &>.content {

        .transition(height 0.5s);

        &>.date {
            color: #333;
            //font-weight: bold;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #DCDCDC;

            .label {
                float: left;
                margin-right: 20px;
            }

            [data-toggle=shrink] {
                display: block;
                float: left;
                width: 30px;
                height: 100%;
                text-align: center;
                font-size: 20px;

                &:hover {
                    color: @blue;
                }
                &:before {
                    content: "\f106";
                    line-height: 28px;
                }
                &.active:before {
                    content: "\f107";
                    line-height: 30px;
                }
            }
        }

        &>.item {
            /*&.shrink {
                height: 31px;
            }*/
            .clearfix;
            border-bottom: 1px solid #DCDCDC;
            padding: 8px 0;

            &:hover {
                background-color: #cbdce6;
            }

            &>.icon {
                display: block;
                float: left;
                width: 22px;
                height: 22px;
                margin-right: 0.75em;
            }
            &>.time {
                display: block;
                float: left;
                width: 40px;
                line-height: 22px;
                margin-right: 0.75em;
            }
            &>.link {
                display: block;
                float: left;
                line-height: 22px;
                width: 370px;
            }

            /*
            &>.dropdown.list {
                &>.item {
                }
            }*/
        }

    }

}

.finance-calendar.list {
    [data-trend=up] {
        .actual {
            color: @upColor;
        }
    }
    [data-trend=down] {
        .actual {
            color: @downColor;
        }
    }
    .date {
        color: #8C8C8C;
        font-weight: bold;
    }
}

#main {

    background-color: #fff;
    padding: 30px;

    .main-title {
        font-size: 16px;
        line-height: 16px;
        height: 27px;
        border-bottom: 3px solid @blue;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 100%;
    }

    .topnews.view {

        margin-right: 30px;
        width: 340px;

        .topnews.carousel {
            width: 100%;
            height: 250px;
            margin-bottom: 15px;

            &>.item {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;

                .img {
                    width: 100%;
                    height: 100%;
                }
                .title {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    font-size: 20px;
                    line-height: 25px;
                    height: 50px;
                    padding: 10px;
                    background-color: rgba(0,0,0,.5);
                }
            }

        }

        .topnews.list{

            width: 100%;
            height: 410px;
            //overflow-y: hidden;

            &>.item {

                width: 100%;

                &>.link {

                    .ellipsis;

                    display: block;
                    //width: 100%;
                    height: 40px;
                    line-height: 40px;

                    color: #666;
                    border-bottom: 1px solid #DCDCDC;

                    .time {
                        display: none;
                        right: 15px;
                        top: 0;
                        position: absolute;
                        line-height: 40px;
                        text-align: right;
                    }

                    &:hover,
                    &.active {
                        background-color: @blue;
                        color: #fff;
                        margin-left: -15px;
                        margin-right: -15px;
                        padding-left: 15px;

                        padding-right: 55px;
                        position: relative;
                        .time {
                            display: block;
                        }
                    }
                }


            }

        }
    }

    .livenews.scrollable.list {
        margin-top: -15px;
        width: 470px;
        height: 314px;
        border-bottom: 1px solid #DCDCDC;

        &>.nano-pane {
            background-color: transparent;
            &>.nano-slider {
                background-color: rgba(160,160,160,.6);
            }
        }
    }



    .market.chart {
        width: 470px;
        height: 300px;
        box-shadow: 0 0 3px 2px rgba(0,0,0,.3);

        &>.content {
            height: 240px;
        }
    }

    .market-analysis {

        @borderColor: #b4b4b4;

        .datum {
            position: absolute;
            width: 270px;
            top: 0;
            left: 0;
            padding: 0 15px;
            .update-time {
                display: block;
                font-size: 14px;
                line-height: 34px;
            }
            .open-price,
            .close-price {
                display: block;
                color: #666;
                font-size: 12px;
                line-height: 22px;
            }
            .title {

                font-size: 18px;
                line-height: 40px;
                font-weight: normal;
                height: auto;
                border-bottom: none;
                margin: 0;

                &>.price {

                }

            }
        }

        .overview {
            //height: 100%;
            width: 270px;
            padding: 118px 15px 10px;
            border-right: 1px solid @borderColor;

            .advice {

                font-size: 18px;
                line-height: 30px;
                font-weight: normal;

                &>.text {

                }
            }
            .compare {

                border-top: 1px dashed @borderColor;
                margin-top: 10px;

                .title {
                    font-size: 14px;
                    line-height: 40px;
                }

                .label,
                .value {
                    display: block;
                    font-size: 12px;
                    margin-bottom: 4px;
                }

                .indicator {
                    width: 100%;
                    height: 8px;
                    //看涨
                    .bullish {
                        height: 100%;
                        background-color: #df6c6c;
                    }
                    //看跌
                    .bearish {
                        height: 100%;
                        background-color: #4cac6d;
                    }
                }
            }

        }
        .realtime-data {

            width: 507px;
            padding: 0 15px 10px;

            .dash-line {
                margin-top: 15px;
                width: 100%;
                display: block;
                height: 0;
                border-bottom: 1px dashed @borderColor;
            }

            .table {

                margin-top: 15px;
                width: 100%;

                th {
                    font-weight: normal;
                }

                th,td {
                    border: 1px solid @borderColor;

                    vertical-align: middle;
                    text-align: center;

                    &.cell1 {
                        width: 70px;
                        height: 35px;
                    }
                    &.cell2 {
                        width: 150px;
                        height: 45px;
                    }
                    &.pivot {
                        color: @blue;
                    }
                    &.label {
                        color: @blue;
                        text-align: left;
                        text-indent: 60px;
                        font-weight: bold;
                        font-size: 14px;
                    }

                    .buy {
                        color: @upColor;

                        .value {
                            color: #000;
                        }
                    }
                    .sell {
                        color: @downColor;

                        .value {
                            color: #000;
                        }
                    }

                }
            }
        }

    }

    .economic-evaluation.tabpanel {

        &>.tabbar {
            margin-bottom: 5px;
        }

        .economic-evaluation.list {

            &>.item {

                .link {
                    line-height: 34px;
                    color: #666;
                    border-bottom: 1px solid #dcdcdc;

                    &:hover {
                        background-color: @blue;
                        margin: 0 -15px;
                        padding: 0 15px;
                        color: #fff;
                        .author {
                            color: #fff;
                        }
                    }
                }

                .title {
                    .ellipsis;
                    width: 375px;
                    margin-right: 10px;
                }
                .author {
                    .ellipsis;
                    color: #000;
                    width: 70px;
                    font-weight: bold;
                    text-align: left;
                }
                .time {
                    width: 100px;
                    text-align: right;
                }
            }
        }
    }

    .investment-tutorial.list {

        width: 255px;

        &>.item {

            margin-bottom: 10px;

            .link {
                border: 1px solid #959595;
                width: 253px;
                height: 33px;
                line-height: 33px;
                font-weight: bold;

                &:hover {
                    background-color: @blue;
                    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3c80a1), to(#005077));
                    background: -moz-linear-gradient(top, #3c80a1, #005077);
                    .title {
                        color: #fff;
                    }
                }

                .index {
                    width: 35px;
                    text-align: center;
                    color: #fff;
                    margin-left: 35px;
                    background-color: @blue;
                    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3c80a1), to(#005077));
                    background: -moz-linear-gradient(top, #3c80a1, #005077);
                }
                .title {
                    width: 183px;
                    text-align: center;
                }
            }
        }
    }

}

#sidebar {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: @gray;
    box-shadow: 1px 3px 3px 2px rgba(0,0,0,.5) inset;

    .title {
        height: 48px;
        line-height: 48px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        width: 100%;
        background-color: @black;

        //border-top: 1px solid #666;
        //border-bottom: 1px solid #666;
    }

    .finance-calendar.list {

        height: 340px;
        overflow-y: hidden;

        .date {
            color: #fff;
            padding: 8px 15px;
            border-bottom: 1px solid #222;
            border-top: 1px solid #727272;
        }

        .item {

            .clearfix;

            padding: 8px 15px;

            border-bottom: 1px solid #222;
            border-top: 1px solid #727272;
            color: #b4b4b4;

            .time {
                font-weight: bold;
                line-height: 1.5em;
            }

            .link {
                display: block;
                color: #b4b4b4;
                font-weight: bold;
                line-height: 1.5em;
                margin-bottom: 5px;
            }

            .meta {

                white-space: nowrap;
                margin-right: 10px;

                &>.label {

                }
                &>.value {
                    font-weight: bold;
                }
            }

        }

        &>.nano-pane {
            background-color: transparent;
            &>.nano-slider {
                background-color: rgba(136,136,136,.6);
            }
        }
    }

    #gold-research {

        padding: 20px 30px;

        .chart.type1 {
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
        }
        .button {
            margin: 0 auto;
            display: block;
        }

    }


    .form.type1 {

        padding: 15px 30px;

        input,
        label,
        select,
        button {
            margin: 5px auto;
            display: block;
            border-radius: 0;
        }
        input[type=text],
        select {
            border: 1px solid #888;
            line-height: 18px;
            padding: 0 5px;
        }
        input[type=text] {
            width: 98px;
            height: 18px;
        }
        select {
            width: 110px;
            height: 20px;
        }
        label {
            width: 110px;
            line-height: 20px;
            height: 20px;
            color: #fff;
        }
        input[readonly] {
            background-color: #727272;
            color: #fff;
        }
        .button.submit {
            display: block;
            line-height: 20px;
            width: 110px;
            color: #fff;
            background-color: #005178;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#3c80a1), to(#005077));
            background: -moz-linear-gradient(top, #3c80a1, #005077);
            box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
        }
    }
    .line.type1 {
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px solid #231815;
        border-bottom: 1px solid #727272;
    }

    .chart.type2 {
        width: 100%;
        height: 240px;
    }
    .table.type2 {
        width: 100%;
        //height: 160px;
        margin-top: 15px;

        th,td {
            width: percentage(1/3);
            vertical-align: middle;
            text-align: center;
            height: 40px;
            color: #fff;
            border: 1px solid @borderColor;
        }
    }

}

#footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #1e1e1e;

    .logo {
        display: block;
        margin: 0 auto;
    }
    .qrcode {
        display: block;
        margin: 20px auto;
    }
    .copyright {
        color: #fff;
        text-align: center;
    }

    .title {
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .important {
        color: #ff0000;
    }

    ul {

        &>li {
            a {
                color: #cbcbcb;
            }
            margin-bottom: 10px;
        }
    }

    .friend-links {

        width: 100%;
        margin-top: 20px;
        line-height: 1.5em;

        .title {
            color: #fff;
            font-size: 12px;
        }

        .link {
            color: #b4b4b4;
        }
    }
}

#modal {
    z-index: 999;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#stare-modal.panel {
    width: 1150px;
    height: 540px;
    padding: 20px 25px;
    //display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background-color: #0f0f0f;
    //box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transition: transform 0.75s;
    -webkit-transition: -webkit-transform 0.75s;

    &.active {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    &>.close {
        position: absolute;
        cursor: pointer;
        display: block;
        right: -20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: #b4b4b4;
        color: @gray;
        text-align: center;
        line-height: 40px;
    }

    .button[data-toggle=hide] {
        width: 85px;
        height: 30px;
        display: block;
        float: right;
        position: relative;
        background-color: #004d7f;
        color: #fff;
        &:before {
            display: block;
            line-height: 30px;
            font-size: 12px;
        }
        &:after {
            display: block;
            position: absolute;
        }
    }

    .market.chart {
        width: 702px;
        margin-bottom: 20px;

        &>.titlebar {
            background-color: #1e1e1e;
            position: relative;
            &>.link {
                line-height: 20px;
                z-index: 1;
                margin: 0;
                padding: 5px 15px;
                text-align: center;
                color: #b4b4b4;
                border-left: 1px solid #505050;
                border-right: 1px solid #000;
                &:first-child {
                    border-left-color: transparent;
                }
                &:last-child {
                    border-right: transparent;
                }
                &:hover,
                &.active {
                    z-index: 9;
                    position: relative;
                    color: #fff;
                    padding: 5px 17px;
                    margin-right: -1px;
                    margin-left: -1px;
                    border-left: none;
                    border-right: none;
                    background-color: @gray;
                    //box-shadow: 3px -3px 3px 0 rgba(0,0,0,0.9);
                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 4px;
                        background-color: #07bae8;
                    }
                }
            }
        }
        &>.content{
            height: 225px;
            .toolbar {
                height: 30px;
                background-color: #969696;
                .button {
                    display: block;
                    float: left;
                    height: 24px;
                    width: 24px;
                    line-height: 24px;
                    margin: 3px 0;
                    margin-left: 15px;
                }
                .button[data-efc-type] {
                    width: 48px;
                }
                .line.vertical {
                    width: 0;
                    height: 100%;
                    display: block;
                    float: left;
                    margin-left: 15px;
                    border-left: 1px solid #505050;
                    border-right: 1px solid #c8c8c8;
                }
            }
        }
    }

    .head.type5 {

        .clearfix;
        color: #fff;
        background-color: @gray;
        line-height: 30px;
        padding: 0 15px;

        .title {
            font-size: 14px;
            float: left;
        }
        .toolbar {
            float: right;
            .checkbox {
                display: block;
                float: left;
                margin-left: 50px;
            }
        }
    }

    .livenews.scrollable.list {

        width: 702px;
        height: 205px;
        background-color: #505050;

        &>.content {
            &>.date{
                color: #dcdcdc;
                padding-left: 15px;
                padding-right: 15px;
                border-bottom: 1px solid #1e1e1e;
                border-top: 1px solid #787878;
            }
            &>.item {
                color: #fff;
                padding: 8px 15px;
                border-bottom: 1px solid #1e1e1e;
                border-top: 1px solid #787878;
                &>.icon {

                }
                &>.time {

                }
                &>.link {
                    width: 570px;
                    color: #b5b5b5;
                }
            }
        }
        &>.nano-pane {
            background-color: transparent;
            &>.nano-slider {
                background-color: #aaa;
            }
        }

    }

    .finance-calendar.scrollable.list {
        width: 423px;
        height: 255px;
        margin-bottom: 20px;
        background-color: #e6e6e6;

        .clock {
            color: @blue;
            font-weight: bold;
        }
        .titlebar {
            color: #000;
            line-height: 28px;
            padding: 0 15px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #bebebe;
        }
        .nano-content {
            top: 30px;
        }
        .nano-pane {
            top: 30px;
        }
        .date {
            border-bottom: 1px solid #222;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #bebebe;
            padding: 8px 15px;
        }
        .item {
            .clearfix;
            padding: 8px 15px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #bebebe;
            color: #000;
            .time {
                width: 75px;
                font-weight: bold;
                line-height: 1.5em;
            }
            .important {
                width: 105px;
                height: 1.5em;
            }
            .title {
                width: 210px;
                font-weight: bold;
                line-height: 1.5em;
                margin-bottom: 5px;
            }
            .profit {
                width: 75px;
            }
            .price {
                width: 105px;
            }
            .label {
                color: #b4b4b4;
            }
            .value {
                font-weight: bold;
            }
        }
    }

    .market-analysis {

        @borderColor: #b4b4b4;

        padding: 15px;
        width: 393px;
        height: 175px;
        background-color: #e6e6e6;

        &>.titlebar>.link.active {
            background-color: #e6e6e6;
        }
        &>.content {
            padding: 10px;
        }
        .datum {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            .update-time {
                display: block;
                font-size: 12px;
                line-height: 12px;
            }
            .title {
                font-size: 14px;
                line-height: 14px;
                margin-top: 12px;
                //font-weight: normal;
                &>.price {

                }
            }

            .open-price,
            .close-price {
                display: block;
                color: #666;
                font-size: 12px;
                line-height: 12px;
            }
            .close-price {
                margin-bottom: 2px;
            }
        }

        .overview {
            //height: 100%;
            //width: 270px;
            padding-top: 45px;

            .line.type1 {
                width: 100%;
                height: 0;
                display: block;
                margin-bottom: 10px;
                border-bottom: 1px solid @borderColor;
            }


            .compare {

                width: 240px;
                padding-right: 10px;
                border-right: 1px solid @borderColor;

                .title {
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                .label,
                .value {
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 5px;
                }

                .indicator {
                    width: 100%;
                    height: 8px;
                    //看涨
                    .bullish {
                        height: 100%;
                        background-color: #df6c6c;
                    }
                    //看跌
                    .bearish {
                        height: 100%;
                        background-color: #4cac6d;
                    }
                }
            }

            .advice {

                font-size: 18px;
                line-height: 67px;
                padding-left: 8px;
                //font-weight: normal;

                &>.text {

                }
            }

        }

    }

}